<body>
  <mat-card class="login-box">
    <img
      src="https://mms.businesswire.com/media/20190626005662/en/730070/23/eModal_logo_trans_e93930.jpg"
      alt="emodallogo"
      class="img"
    />
    <mat-card-content>
      <form class="login-container__form" [formGroup]="loginForm">
      <div class="user-box">
        <input matInput placeholder="email@example.com" formControlName='username'/>
      </div>
      <div class="user-box">
        <input matInput type= "password" placeholder="*******" formControlName='password' />
      </div>
    </form>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!clicked" class="login-container__button" mat-raised-button color="warn"
      [disabled]="loginForm.invalid" (click)="goTo()">Log In</button>
    </mat-card-actions>
  </mat-card>
</body>
