<div class="payment-layout">
  <h1 class="first-title">CONFIRM PURCHASE</h1>
  <div class="item-table">
    <table mat-table class="mat-elevation-z8">
      <ng-container matColumnDef="issuesBy">
        <th mat-header-cell *matHeaderCellDef>Issues By</th>
        <td mat-cell *matCellDef="let element">{{ element.issuesBy }}</td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th mat-header-cell *matHeaderCellDef>Fee</th>
        <td mat-cell *matCellDef="let element">{{ element.fee | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.total | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="gray-background" mat-mini-fab>
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <hr />
  </div>

  <div class="payment-card">
    <h2 class="total-subtitle">Total {{totalPayment | currency}}</h2>
    <button
      mat-raised-button
      routerLink="/container-list"
      class="cancel-button"
      color="warn"
    >
      Cancel
    </button>
  </div>

  <div class="payment-information">
    <div class="cont">
      <div class="section total">
        <h3 class="title">Payment Information</h3>
        <h3>Total {{totalPayment | currency}}</h3>
      </div>

      <div class="section company">
        <h3>Company</h3>
        <mat-form-field appearance="fill">
          <mat-label>Trucking company name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="section payment-source">
        <h3>Select payment source</h3>
        <mat-form-field appearance="fill">
          <mat-label>Payment source</mat-label>
          <mat-select>
            <mat-option *ngFor="let source of sources" [value]="source.value">
              {{ source.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="pay-now-button">
        <button mat-raised-button color="primary">Pay now</button>
      </div>

      <img
        src="https://www.kindpng.com/picc/m/47-479417_transparent-payment-methods-png-american-express-png-download.png"
        class="payment-sorces-image"
        alt="PaymentSources"
      />
    </div>
  </div>
</div>
