<body>
  <div class="dashboard">
    <mat-card>
      <mat-card-content>
        <p>
          ​The eModal® Empty Manager is a solution for truckers to facilitate
          empty “street turns.” Whether you have an empty container that needs
          to be returned to the port or you are seeking an empty for a booking,
          the eModal E mpty Manager provides a straight-forward,intuitive
          application to connect both parties and eliminate unnecessary and
          unladen trips to the port.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</body>

